GOOGLE_APPLICATION_CREDENTIALS=/Users/207000019@bwt3.com/Documents/New project 2/credentials/aaa-gas-prices-service-account.json
GOOGLE_SHEET_ID=
GOOGLE_SHARE_WITH_EMAIL=
GOOGLE_SHEET_TITLE=AAA National Gas Prices

