GOOGLE_APPLICATION_CREDENTIALS=/Users/207000019@bwt3.com/Documents/New project 2/credentials/aaa-gas-prices-service-account.json
GOOGLE_SHEET_ID=
GOOGLE_SHARE_WITH_EMAIL=
GOOGLE_SHEET_TITLE=AAA National Gas Prices
AAA_SYNC_STATES=1
AAA_STATE_START_DATE=2026-05-19
AAA_STATE_COMPARISON_SHEET_NAME=State Comparison Since May 19
AAA_STATE_SHEET_WRITE_SLEEP=5
